@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 68px;
  height: 68px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #9b033f transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
